extends layout

block info
    .alert.alert-light.my-2
        .row
            .col-12.col-md-6.py-3
                h2= t('welcome')
                p= t('intro')
                p
                    span.far.fa-info-circle
                    = ' '
                    = t('purpose')
                p
                    span.far.fa-info-circle
                    = ' '
                    = t('clientSide')
                    = t('otherInterfaces')
                    a(href='#api')= t('otherInterfaces.api')
                    = t('otherInterfaces.and')
                    a(href='#library')= t('otherInterfaces.library')
                p
                    span.far.fa-info-circle
                    = ' '
                    = t('disclaimer')
                    = ' '
                    = t('justSpecs')
            .col-12.col-md-6
                .py-3
                    h2= t('support.header')
                    p
                        = t('support.content')

                    ul.list-inline
                        each name in ['bunq', 'paypal']
                            li.list-inline-item
                                a(href=links[name].href, target='_blank', rel='noopener').btn.btn-success.btn-lg
                                    span(class=links[name].icon)
                                    = ` ${links[name].text}`
                    p.small
                        = t('support.license.1')
                        a(href=links.oql.href, target='_blank', rel='noopener')= t('support.license.2')
                        = t('support.license.3')
                        a(href=links.email.href, target='_blank', rel='noopener')= t('support.license.4')
                .pb-3
                    h2= t('contribute.header')
                    p
                        = t('contribute.content')
                    ul.list-inline
                        each name in ['gitlab']
                            li.list-inline-item
                                a(href=links[name].href, target='_blank', rel='noopener').btn.btn-success.btn-lg
                                    span(class=links[name].icon)
                                    = ` ${links[name].text}`

block nav
    .alert.alert-light.my-2.mb-4
        ul.list-inline(data-filter-init=country).mb-1
            each countryGenerators, country in generators
                li.list-inline-item.m-1
                    a(href='/' + country, data-filter-target='.generators', data-filter-value=country).btn.btn-outline-info.shadow.shadow-hoverable
                        = flag(country)
                        = ' '
                        = t('country.' + country)

block content
    .container-wide
        .row.grid.generators
            each countryGenerators, country in generators
                each generators, name in countryGenerators
                    .col-12.col-lg-6.col-xl-4.grid-item.pb-4(data-filter-value=country)
                        .generator.card.shadow(data-country=country, data-generator=name)
                            .card-body
                                .card-title.d-flex.flex-column.flex-lg-row
                                    h2.flex-grow-1.text-nowrap.pr-4
                                        = flag(country)
                                        = ' '
                                        = t(`generator.${country}.${name}.name`)
                                    div.text-right
                                        = t(`generator.${country}.${name}.description`)
                                .form-group.has-success
                                    .input-group
                                        input.form-control.is-valid.generator-output
                                        .input-group-append
                                            button.btn.btn-outline-secondary.btn-clipboard
                                                span.far.fa-clipboard
                                        .input-group-append
                                            button.btn.btn-outline-primary.btn-generate
                                                span.far.fa-random
                                    .feedback
                            div !{includedynamic(`generators/${country}/${name}.pug`)}

    .container
        #api.text-white.mt-5
            h2= t('api.header')
            ul.list-unstyled
                each endpoint, key in apiEndpoints
                    li.my-3
                        pre.d-inline-block.mw-100.mb-0
                            code
                                span.badge(class='badge-' + httpMethodColor(endpoint.method)).mr-3= endpoint.method.toUpperCase()
                                = endpoint.url
                        p= t('api.' + key)

        #library.text-white.mt-5
            h2= t('lib.header')
            pre
                code.
                    yarn add avris-generator

            pre
                code.
                    const gm = require('avris-generator');

                    const pesel = gm.generate('PL', 'pesel', {gender: 'm'});

                    try {
                        const data = gm.validate('PL', 'pesel', '12345678900');
                        // valid
                    } catch (e) {
                        // invalid
                        alert(e.message);
                    }
